body, html{
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*.crud-wrapper{}*/
.col-container {
  display: table;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.col {
  display: table-cell;
  padding: 16px;
}
/*.crud-tab{margin-top:50px;}*/
.crud-btn button{margin-left:20px;background-color:#000;}
.jumbotron{padding:30px 50px;background-color:#fff;}
footer{background-color:#1A1A1A;}
footer h2{padding: 20px;
  color: #fff;
  margin: 0;
  font-size: 15px;}
.crud-tab h3{font-family: 'Open Sans', sans-serif;text-align: center; font-size:25px;color:#000;border-bottom:solid 1px #ccc;padding-bottom:10px;margin-bottom: 20px;}
/*.crud-tab .cont-part{min-height:450px;}*/
.crud-tab img{height:80px;}
.service-box{
  margin: 0 auto;padding:50px; text-align: center;border:solid 10px #ccc;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.service-inner{display: table-cell;
  vertical-align: middle;}
  .ReactModal__Content h2{font-family: 'Open Sans', sans-serif;text-transform: uppercase;font-size:42px;padding-bottom:20px;}
  .ReactModal__Content p{font-family: 'Open Sans', sans-serif;font-size:16px;}
  .ReactModal__Content a{font-family: 'Open Sans', sans-serif;color:#000;font-weight: bold; padding-top:30px;}
.head-bg{
  /*background: 
  linear-gradient(
      rgba(158, 1, 94, 0.20), 
      rgba(158, 1, 94, 0.20)
    ), url('../public/header-bg.jpg') no-repeat center top;background-size:cover;
  min-height: 450px;*/
  padding:50px 0;
  background-color:#f5f5f5;
  }
  .head-bg .card{width:60%;margin: 0 auto;}
  .head-bg h1{}
    .jumbotron{margin-bottom: 0;}    
    .jumbotron img{text-align: left;}
    .jumbotron h1{font-family: 'Open Sans', sans-serif;color:#000;text-transform: uppercase;font-size:38px;text-align: right;}
    .logo{text-align: left;}
  .card{background-color: rgba(255, 255, 255, 0.7);}
  .card input{border:solid 1px #9E015E;}
  .ReactModalPortal .ReactModal__Content {width:800px;height: 600px;top:15% !important; margin: 0 auto;position: relative;text-align: center;}
  .ReactModal__Content .close-btn{position: absolute;top:0px;right:0;}
.pop-header{  padding:20px 0;margin-bottom:50px;;
  background-color:#f5f5f5;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}


@media (max-width:521px) {
  .ReactModalPortal .ReactModal__Content{width:90%;height:auto;left: 5% !important;}
  .logo{text-align: center;}
  .jumbotron h1{text-align: center;font-size:25px;padding-top:20px;}
  .head-bg .card{width:90%;}
  .crud-tab .col{display: block !important;margin-bottom: 30px;}

}